:root {
  --primary-color: hsl(160deg, 100%, 30%);

  --secondary-color: hsl(45deg, 100%, 50%);
  --secondary-darker: hsl(45deg, 100%, 40%);

  --gray-black: hsl(0deg, 0%, 0%);
  --gray-very-dark: hsl(0deg, 0%, 10%);
  --gray-dark: hsl(0deg, 0%, 30%);
  --gray-medium: hsl(0deg, 0%, 40%);
  --gray-light: hsl(0deg, 0%, 60%);
  --gray-white: hsl(0deg, 0%, 100%);
}

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */
strong {
  color: var(--primary-color);
}

header {
  padding-top: 64px;
  padding-bottom: 32px;
}

.indented-heading {
  background-color: var(--secondary-color);
  border-bottom: 8px solid var(--secondary-darker);
  padding: 8px 40px;
  margin-left: -40px;
  width: fit-content;
  margin-top: 0;
}

.max-width-wrapper {
  max-width: 768px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

main {
  border-top: 8px solid var(--gray-dark);
  background-color: var(--gray-light);
  padding-top: 64px;
  padding-bottom: 64px;
}

.card {
  background-color: var(--gray-white);
  border-bottom: 8px solid var(--gray-dark);
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 8px;
}

.intro-chunk {
  padding-left: 32px;
  padding-right: 32px;
}
.intro-chunk .title {
  margin-bottom: 48px;
}
